# Build
build/
cmake-build-*/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# ImGui
imgui.ini

# Claude Code
CLAUDE.local.md
.claude/settings.local.json

# Compiled
*.o
*.a
*.so
*.dylib

# Thesis documents
*.pdf
*.doc
*.docx
*.png

#photo
pic/

# Performance logs
logs/

# Doc
docs/

# Scripts
scripts/

# Temp
temp/

# Chache
.cache/

# other Repositories
vendor/

# test
assets/scenes/
temp/
